# OS X
.DS_Store

# Eclipse
.settings
.project
.classpath
/build/
/bin/
/target/

# Rstudio
.R* 

# Python
*.pyc
.idea

# site
_site
files/Nature 2022 - The neurons that restore walking after paralysis.pdf
